.main{
    width:90%;
    margin-left:5%;
    margin-right:5%;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

button {
    cursor:pointer;
}

button.inactive{
    cursor:default;
}